.Container{
    width: 100vw;
    height: 30px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    cursor: pointer;
}

.Link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
    width: 100vw;
    padding: 20px;
    margin-top: 20px;
}

.logOut{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

span{
    font-family: 'Courier New', Courier, monospace;
}


.Link2{
    gap: 20px;
}

.ss{
    width: 100px;
    height: 30px;
    background-color: rgb(255, 192, 245);
    border: none;
    border-radius: 3px;
    transition: 0.1s linear;
}

.ss:hover{
    box-shadow: -5px 5px 10px rgb(249, 170, 255);
    cursor: pointer;
}