.Container{
    width: 100vw;
    height: 30px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    cursor: pointer;
}

.Link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
    width: 100vw;
    padding: 20px;
    margin-top: 20px;
}

.logOut{
    cursor: pointer;
}

span{
    font-family: 'Courier New', Courier, monospace;
}


.Link2{
    gap: 20px;
}